* { box-sizing: border-box; }
body {
  background-color: rgb(242, 242, 242);
}

/* layout*/
header, footer, .intro, .work, .skills, .about-me, .contact {
  margin: auto;
  margin-top: 1rem;
  max-width: 80%;
}
header img {
  width: 12rem;
  margin: 1rem 40% 1rem 40%;
}
header li {
  float: left;
  padding: 1rem;
  list-style: none
}
article {
  clear: both;
}

/* font styling */
a, footer {
  font-family: 'Quicksand', sans-serif;
}

h1, .bodycopy {
  font-family: 'Vollkorn', serif;
}
a {
  text-decoration: none;
  color: rgb(14, 133, 143);
}
h1 {
  font-weight: normal;
  font-size: 2.5rem;
}
.bodycopy {
  font-weight: normal;
  font-size: 1.75rem;
}
footer {
  font-weight: bolder;
  font-size: 1.25rem;
}

/* fonts
font-family: 'Droid Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Vollkorn', serif;
*/

/* colors
Teal rgb(14, 133, 143);
Background rgb(242, 242, 242);
Gray rgb(51, 51, 51);
*/